:root {
  --heading-font: "Poppins", sans-serif;
  --body-font: "Roboto", sans-serif;
}
button,
a {
  all: unset;
  cursor: pointer;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: inherit;
}
body,
.body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
/* TODO: Add want to use Styled-comps, stitches or another js in css */

/* source https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
.staff-members-container {
  background: 
   /* Shadow Cover TOP */ linear-gradient(
        white 30%,
        rgba(255, 255, 255, 0)
      )
      center top,
    /* Shadow Cover BOTTOM */ linear-gradient(rgba(255, 255, 255, 0), white 70%)
      center bottom,
    /* Shadow TOP */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0)
      )
      center top,
    /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0)
      )
      center bottom;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
/* Helpers */
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

button.teams-button {
  padding: 5px 10px 5px 12px;
  border-radius: 20px;
}

@media (hover: hover) {
  button:focus-visible {
    outline: 1.5px dashed #000;
    outline-offset: 3px;
  }
  button.teams-button:focus-visible {
    outline: none;
    background: #f7f7f7;
  }
}
