:root {
  --heading-font: "Poppins", sans-serif;
  --body-font: "Roboto", sans-serif;
}
button,
a,
input,
label {
  all: unset;
  cursor: pointer;
  font: inherit;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  overflow: hidden;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  font-size: inherit;
}
body,
.body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
/* TODO: Add want to use Styled-comps, stitches or another js in css */

/* Utility classes */
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-full {
  width: 100%;
  height: 100%;
}
.pos-up-left {
  position: absolute;
  top: 0;
  left: 0;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

/* I knot this isn't the norm but I don't use gaps above 15 usually */
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-4 {
  gap: 4px;
}
.gap-5 {
  gap: 5px;
}
.gap-6 {
  gap: 6px;
}
.gap-7 {
  gap: 7px;
}
.gap-8 {
  gap: 8px;
}
.gap-9 {
  gap: 9px;
}
.gap-10 {
  gap: 10px;
}
.gap-11 {
  gap: 11px;
}
.gap-12 {
  gap: 12px;
}
.gap-13 {
  gap: 13px;
}
.gap-14 {
  gap: 14px;
}
.gap-15 {
  gap: 15px;
}
