.SelectContent {
  padding: 10px 0px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectItem {
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  color: #444;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 20px 0 30px;
  position: relative;
  user-select: none;
}

.SelectItem > span {
  width: 100%;
}
.SelectItem[data-disabled] {
  opacity: 0.7;
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: #f7f7f7;
  color: #222;
}

.SelectItemIndicator {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 25px;
  height: 25px;
  display: absolute;
  align-items: center;
  justify-content: center;
}
