.SelectContent {
  padding: 10px 0px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectItem {
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  color: #444;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: green;
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: #f7f7f7;
  color: #222;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: red;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
